news-summarizer-.json
{
  "updatedAt": "2026-04-08T07:37:52.304Z",
  "createdAt": "2026-03-26T09:29:05.984Z",
  "id": "4eCIe81XveWAYdFJ",
  "name": "News Summarizer",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a short social media post from the content in RSS feed about the most relevant news articles. Make it engaging and seem like an influencer had made the post. Also take into consideration any user input and filter the articles, if user has provided any desired articles.\n\nUser Input: {{ $json.Prompt }}\nDesired Articles: {{ $json.Filters }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        -144
      ],
      "id": "f61605c9-a4c1-486f-9c7b-7da66e725801",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        112
      ],
      "id": "c71c933b-a5c5-48a2-ba22-10bf8c3b14fc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HZwTvcWeiFUPnLfr",
          "name": "OpenAi Account - All Models"
        }
      }
    },
    {
      "parameters": {
        "content": "## Processing\nAI agent makes a summary of rss news content into a readable social media post.",
        "height": 672,
        "width": 816,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        -352
      ],
      "typeVersion": 1,
      "id": "2ff2ff42-7ca3-4cc5-8957-d0af1cd128a6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        304,
        -144
      ],
      "id": "bc9773ee-2599-4ddb-9ccf-9c4274a670c6",
      "name": "When chat message received",
      "webhookId": "5b2d8b8a-c7ad-49fd-9804-60e06ec69ab6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dNxqpM7DPCRxgGgZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/dNxqpM7DPCRxgGgZ",
          "cachedResultName": "News Summary Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        992,
        112
      ],
      "id": "e44ccf4a-72c4-438d-beee-79a076dcf0f9",
      "name": "RSS feed"
    },
    {
      "parameters": {
        "content": "## Input\nThe AI agent is already predefined to create a summary.\nHere, User can provide additional context to the summary and modify it to their liking.",
        "height": 544,
        "width": 480,
        "color": "#396227"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -288
      ],
      "typeVersion": 1,
      "id": "8ab39dea-20b8-486d-a5c6-557d880b34c1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "News Updates",
        "formDescription": "We'll summarise your preferred news for you.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "fieldType": "textarea",
              "placeholder": "Type in your news prompt"
            },
            {
              "fieldLabel": "Filters"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        304,
        48
      ],
      "id": "3ae5f689-a7dc-4e27-b2d6-7dd0134307a9",
      "name": "On form submission",
      "webhookId": "b6722d9f-b3ab-4646-a67b-0c6307faa635"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "RSS feed": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "edda73e6-105c-48ba-8874-2173704d0cb0",
  "activeVersionId": null,
  "versionCounter": 302,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-26T09:29:05.984Z",
      "createdAt": "2026-03-26T09:29:05.984Z",
      "role": "workflow:owner",
      "workflowId": "4eCIe81XveWAYdFJ",
      "projectId": "95Db7uZ59vsjQvIJ",
      "project": {
        "updatedAt": "2026-02-06T13:49:49.702Z",
        "createdAt": "2026-02-06T13:49:49.702Z",
        "id": "95Db7uZ59vsjQvIJ",
        "name": "Heinek Halwin Roshan <heinek.roshan@exxeta.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "48e5ff36-1002-4426-b02e-23e21bc395e6"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}